body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects{
    height: 100vh;
    margin: 10px auto;
    background-color: black;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}